@import 'reset.styl'
ul
  ul,
ol
  ol
    margin-left: 20px
sup
  vertical-align: super
  font-size: 60%
strong
  font-weight: bolder
  color: red
  &.bold
    font-weight: bolder
    color: #000
.dataTypes,
.operators,
.statements,
.referenceType-1,
.referenceType-2,
.referenceType-3,
.referenceType-4,
.object-1,
.object-2,
.object-3
  display: flex
  flex-wrap: wrap
  padding-top: 20px
  .card-column
    position: relative
    margin-right: 20px
    margin-bottom: 20px
    flex: 0 0 450px
    width: 450px
    height: calc(100vh - 112px)
    background-color: rgba(239, 241, 245, 1)
    border: 1px solid rgba(225, 228, 232, 1)
    border-radius: 6px
    box-shadow: inset 1px 1px 1px rgba(225, 228, 232, 1)
    overflow: hidden
    .card-column-title
      padding: 8px
      height: 40px
      line-height: 24px
      font-size: 16px
      font-weight: 600
      color: #24292e
    .card-group
      position: absolute
      top: 40px
      left: 0
      bottom: 0
      padding: 0 8px
      width: 100%
      overflow-x: hidden
      overflow-y: scroll
      .card
        display: block
        margin-bottom: 8px
        padding: 8px 0
        height: auto
        background-color: #fff
        border: 1px solid rgba(225, 228, 232, 1)
        border-radius: 6px
        overflow: hidden
        .card-header
          padding: 8px 16px
          line-height: 1.2
          font-size: 14px
          color: rgb(36, 41, 46)
          text-align: justify
          ul,
          ol
           margin-top: 10px
           line-height: 24px
