@import 'reset.styl'
ul,
ol
  margin-left: 20px
ul
  ul,
ol
  ol
    margin-left: 20px
sup
  vertical-align: super
  font-size: 60%
strong
  // color: #000
  font-weight: bolder
  &.danger
    font-weight: bolder
    color: red

.clearfix::after,
.clearfix::before
  display: block
  clear: both
  content: ""

.dataTypes,
.operators,
.statements,
.referenceType-1,
.referenceType-2,
.referenceType-3,
.referenceType-4,
.object-1,
.object-2,
.object-3,
.array-1,
.array-2,
.function-1,
.function-2,
.function-3,
.window,
.location,
.screen,
.navigator,
.history,
.dom-1,
.dom-2,
.dom-3,
.dom-4,
.dom-5
  // display: flex
  // flex-wrap: wrap
  padding-top: 20px
  .card-column
    float: left
    position: relative
    margin-bottom: 1%
    margin-left: 2%
    width: 17.6%
    // position: relative
    // margin-right: 20px
    // margin-bottom: 20px
    // flex: 0 0 450px
    // width: 450px
    height: auto
    background-color: rgba(239, 241, 245, 1)
    border: 1px solid rgba(225, 228, 232, 1)
    border-radius: 6px
    box-shadow: inset 1px 1px 1px rgba(225, 228, 232, 1)
    overflow: hidden
    .card-column-title
      padding: 8px
      height: 40px
      line-height: 24px
      font-size: 16px
      font-weight: 600
      color: #24292e
    .card-group
      position: relative
      // top: 40px
      // left: 0
      // bottom: 0
      padding: 0 8px
      // width: 100%
      // overflow-x: hidden
      // overflow-y: scroll
      .card
        display: block
        margin-bottom: 8px
        padding: 8px 0
        height: auto
        color: #000
        background-color: #fff
        border: 1px solid rgba(225, 228, 232, 1)
        border-radius: 6px
        overflow: hidden
        .card-header
          padding: 8px 16px
          line-height: 1.5
          font-size: 14px
          color: rgb(36, 41, 46)
          text-align: justify
          border-bottom: 1px solid #eee
        .card-body
          padding: 10px
          font-size: 14px
          line-height: 1.5
